*::-webkit-scrollbar{
  display: none;
}

li {
  cursor: pointer;
}

.nav-items a{
  font-weight: bold;
}

.nav-items a:hover{
  scale: 1.1;
}

.img img{
  box-shadow: 5px 10px 10px -10px rgba(255, 255, 255);
}

